* {
 font-size: 100%;
 font-family: 'Roboto', sans-serif;
 /* font-weight: lighter; */
}


.BrowseCard {
  background-color: inherit;
  pointer-events: visibleFill;
  width: 180px;
  height: 250px;
  padding-top: 5px;
  display: inline-block;
  margin: 5px;
  border: 1px solid red;
  /* text-align: center; */
  cursor: pointer;
}

a {
  text-decoration:none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}


.BrowseCardContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 150px;
  height: 250px;
  display: block;
  vertical-align: top;
}

.BrowseCardText {
  font-size: 18px;
  margin: auto;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  hyphens: auto;
  height: 150px;
}

.BrowseCardTitle:hover {
   text-decoration: underline;
   color: inherit;
}

.BrowseCard:hover {
  /* box-shadow: 2px 2px 2px Grey; */
  border: 1px solid #6C5A49;
  border-radius: 0
}

.ArtistLink {
  font-size: 12px;
}

.BrowseCardArtistName:hover {
  text-decoration: underline;
}

.BrowseCardImage {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  padding-bottom: 5px;
  display: block;
  object-fit: cover;
}
