.standard-button-secondary {
  cursor: pointer;
  background-color: #E16732;
  border: 0px;
  color: white;
  height: 30px;
  border-radius: 20px;
  /* box-shadow: 0px 3px #000000; */
  box-shadow: 0 10px 6px -6px #393939
}

.block-button {
  cursor: pointer;
  width: 90px;
  height: 40px;
  background-color: #6C5A49;
  color: white;
  padding: 9px;
  display: inline-block;
  margin: 2px;
}

.block-button-pressed{
  cursor: pointer;
  width: 90px;
  height: 40px;
  background-color: #583E2C;
  color: white;
  padding: 9px;
  display: inline-block;
  margin: 2px;
}

.block-button-inactive{
  cursor: pointer;
  width: 90px;
  height: 40px;
  background-color: #A89487;
  color: white;
  padding: 9px;
  display: inline-block;
  margin: 2px;
}
.standard-button-secondary:hover {
  background-color: #CA5C2D;
}

.standard-button-secondary:active {
  cursor: pointer;
  background-color: #CA5C2D;
  border: 0px;
  color: white;
  height: 30px;
  border-radius: 20px;
  margin-top: 2px;
  box-shadow: 0 6px 6px -6px #393939
}

li {
  float: left;
}


li a:hover {
    background-color: #C04C18;
    text-decoration:none;
    color: white;
}

.logoimg {
  height: 35px
}

hr {
  padding: 0;
  margin: 0;
}

li a {
    display: block;
    color: #6C5A49;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button-std {
  background-color: #6C5A49;
  color: white;
  border: none;
  padding: 5px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  margin: auto;
  margin-top: 7%;
  margin-left: 5px;
  margin-right: 20px;
  vertical-align: middle;
  font-size: 100%
}

img {
  /* margin: 3px; */
}

.button-std:hover {

  background-color: #533E29
}


.option {
  float:right
}

Link {
  margin: 0px;
  padding: 0px;
}

.title:hover {
  background-color: white;
  color: inherit;
}

.header-list {
  margin: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  list-style-type: none;
}

.header-line {
  margin: 0px;
}

.flash-container {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 20px;
    width: 100%; /* Full width */
    padding: 10px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
